<head>
<style>

</style>
</head>

<div class="position-fixed mt-3 ml-5" style="font-size:19px;">
  <i class="fa-solid fa-vest-patches mt-3" style="color:#900C3F;"></i>
  <a><%= link_to 'Fashiones', '/fashiones' , style:'text-decoration: none;color:#900C3F' , class:"mr-3"%></a>
  <i class="fa-solid fa-suitcase-medical fa-bounce" style="color:#581845;"></i>
  <a><%= link_to 'Healths', '/healths' , style:'text-decoration: none;color:#581845' , class:"mr-3"%></a>
  <i class="fa fa-solid fa-lightbulb fa-fade" style="color:;"></i>
  <a><%= link_to 'Businesses', '/businesses' , style:'text-decoration: none;color:;' , class:"mr-3"%></a>
  <i class="fa-solid fa-car-side" style="color:#3C1F8A;"></i>
  <a><%= link_to 'Automobiles', '/automobiles' , style:'text-decoration: none;color:#3C1F8A ' %></a><br>
  <i class="fa-solid fa-person-walking fa-shake mt-3" style="color:green"></i>
  <a class=""><%= link_to 'Sports', '/sports' , style:'text-decoration: none;color:green ' , class:"mr-3" %></a>
  <i class="fa-solid fa-flag fa-flip" style="color:#F7B718;"></i>
  <a><%= link_to 'Politics', '/politics' , style:'text-decoration: none;color:#F7B718 ' , class:"mr-3"%></a>
  <i class="fa-solid fa-microchip fa-spin" style="color:#FF5733;"></i>
  <a><%= link_to 'Technology', '/technologyes' , style:'text-decoration: none;color:#FF5733' , class:"mr-3"%></a>
  <i class="fa-solid fa-landmark" style="color:#C70039;"></i>
  <a><%= link_to 'Governments', '/governments' , style:'text-decoration: none;color:#C70039'%></a> 
</div><br><br><br>

