<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css"
  rel="stylesheet"
/>

<style>
 


#page-content{
    
    margin-top:100px;
}


a {
    color: #448bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #005ef7;
    text-decoration: underline
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}






/*Mark Down*/


@media (min-width:576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }
    .col-sm-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }
    .col-sm-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-sm-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }
    .col-sm-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-sm-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }
    .col-sm-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-sm-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }
    .col-sm-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-sm-first {
        order: -1
    }
    .order-sm-last {
        order: 13
    }
    .order-sm-0 {
        order: 0
    }
    .order-sm-1 {
        order: 1
    }
    .order-sm-2 {
        order: 2
    }
    .order-sm-3 {
        order: 3
    }
    .order-sm-4 {
        order: 4
    }
    .order-sm-5 {
        order: 5
    }
    .order-sm-6 {
        order: 6
    }
    .order-sm-7 {
        order: 7
    }
    .order-sm-8 {
        order: 8
    }
    .order-sm-9 {
        order: 9
    }
    .order-sm-10 {
        order: 10
    }
    .order-sm-11 {
        order: 11
    }
    .order-sm-12 {
        order: 12
    }
    .offset-sm-0 {
        margin-left: 0
    }
    .offset-sm-1 {
        margin-left: 8.3333333333%
    }
    .offset-sm-2 {
        margin-left: 16.6666666667%
    }
    .offset-sm-3 {
        margin-left: 25%
    }
    .offset-sm-4 {
        margin-left: 33.3333333333%
    }
    .offset-sm-5 {
        margin-left: 41.6666666667%
    }
    .offset-sm-6 {
        margin-left: 50%
    }
    .offset-sm-7 {
        margin-left: 58.3333333333%
    }
    .offset-sm-8 {
        margin-left: 66.6666666667%
    }
    .offset-sm-9 {
        margin-left: 75%
    }
    .offset-sm-10 {
        margin-left: 83.3333333333%
    }
    .offset-sm-11 {
        margin-left: 91.6666666667%
    }
}





.text-muted {
    color: #99a0ac!important
}

.block,
.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}


.gd-success {
    color: #fff;
    border: none;
    background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}



.gd-info {
    color: #fff;
    border: none;
    background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}


.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}


@media (min-width:992px) {
    .page-container {
        max-width: 1140px;
        margin: 0 auto
    }
    .page-sidenav {
        display: block!important
    }
}


.list {
    padding-left: 0;
    padding-right: 0
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}





.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}



.no-wrap {
    white-space: nowrap
}



.text-color {
    color: #5e676f
}



.text-gd {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent
}



.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}


.w-48 {
    width: 48px!important;
    height: 48px!important
}


a:link{

   text-decoration: none;
}

.list-item:hover{
   background-color:#eee;
}

.my-custom-scrollbar {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: auto;
}
</style> 
<body style="background-color:#F1F1F1;">
<%= render "articles/header" %>
<br>
<% if user_signed_in? %>
<% if can? :create, Article %>
<div class="mt-4" style=" position: fixed; width:70px; right: 0; height:80px; background-color:; " > 
  <p data-bs-toggle="tooltip" data-bs-placement="top" title="Create Article"><%= link_to "", new_article_path , class:"fa fa-plus-square-o ml-2 mt-3" , style:"font-size:48px;color:#0146BF;text-decoration:none;" %> </p>  
</div>
<% end %>
<% end %><br>
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="ex1-tab-4" data-mdb-toggle="tab" href="#ex1-tabs-4" role="tab"  aria-controls="ex1-tabs-4"  aria-selected="true">All</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-5" data-mdb-toggle="tab" href="#ex1-tabs-5" role="tab" aria-controls="ex1-tabs-5" aria-selected="false">Sports</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-6" data-mdb-toggle="tab" href="#ex1-tabs-6" role="tab" aria-controls="ex1-tabs-6" aria-selected="false">Politics</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-7" data-mdb-toggle="tab" href="#ex1-tabs-7" role="tab" aria-controls="ex1-tabs-7" aria-selected="false">Technology</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-8" data-mdb-toggle="tab" href="#ex1-tabs-8" role="tab" aria-controls="ex1-tabs-8" aria-selected="false">Governments</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-9" data-mdb-toggle="tab" href="#ex1-tabs-9" role="tab" aria-controls="ex1-tabs-9" aria-selected="false">Healths</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-10" data-mdb-toggle="tab" href="#ex1-tabs-10" role="tab" aria-controls="ex1-tabs-10" aria-selected="false">Businesses</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-11" data-mdb-toggle="tab" href="#ex1-tabs-11" role="tab" aria-controls="ex1-tabs-11" aria-selected="false">Automobiles</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-12" data-mdb-toggle="tab" href="#ex1-tabs-12" role="tab" aria-controls="ex1-tabs-12" aria-selected="false">Education</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-13" data-mdb-toggle="tab" href="#ex1-tabs-13" role="tab" aria-controls="ex1-tabs-13" aria-selected="false">Entertentment</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-14" data-mdb-toggle="tab" href="#ex1-tabs-14" role="tab" aria-controls="ex1-tabs-14" aria-selected="false">Environment</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-15" data-mdb-toggle="tab" href="#ex1-tabs-15" role="tab" aria-controls="ex1-tabs-15" aria-selected="false">ECONOMY</a>
  </li>
</ul>


<section style="background-color:;">
  <div class="py-5">
    <div class="row ml-4 mr-1">
      <div class="col-lg-4">
        <div class="card mb-4" style="position:fixed;">
          <div class="card-body" >
            <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="ex1-tab-1"data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Most Liked</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link " id="ex1-tab-2"data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="true">Today</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link " id="ex1-tab-3"data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="true">Most Viewed</a>
                </li>
            <div class="btn-group dropstart ml-5 mt-2" >
              <a class="dropdown-toggle " data-mdb-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item">FILTER</a></li>
                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
              </ul>
            </div>
            </ul> <hr> 
           <div class="my-custom-scrollbar my-custom-scrollbar-primary" style="width:450px;">
           <div class="list list-row block">
             <div class="tab-content border-0" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                  <% if current_user.present? %>
                    <% @articles_likes.each do |article| %>
                    <div class="list-item" data-id="19">
                        <div><a href="#" data-abc="true"><span class="">  <img src="<%= article.file %>" class="img-fluid rounded-start" alt="..." style="height:30px;">  </span></a></div>
                        <div class="flex">
                            <a href="#" class="item-author text-color" data-abc="true"><%= article.user.profile.name %></a>
                            <div class="item-except text-muted text-sm h-1x"><%= article.title.truncate(45) %></div>
                        </div>
                        <div class="no-wrap">
                            <div class="item-date text-muted text-sm d-none d-md-block"><%= article.created_at.strftime("%d  %B, %Y")%></div>
                        </div>
                    </div>
                         <small class="" style="">total like <%= article.likes.count%></small><hr>
                    <% end %>
                  <% end %>  
                </div>
                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                  <% if current_user.present? %>
                    <% @articles_today.each do |article| %>
                     <div class="list-item" data-id="19">
                        <div><a href="#" data-abc="true"><span class="">  <img src="<%= article.file %>" class="img-fluid rounded-start" alt="..." style="height:30px;">  </span></a></div>
                        <div class="flex">
                            <a href="#" class="item-author text-color" data-abc="true"><%= article.user.profile.name %></a> 
                            <div class="item-except text-muted text-sm h-1x"><%= article.title.truncate(45) %></div>
                        </div>
                        <div class="no-wrap">
                            <div class="item-date text-muted text-sm d-none d-md-block"><%= article.created_at.strftime("%d  %B, %Y")%></div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>  
                </div>
                <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                    Tab 3 content
                </div>
                </div>
            </div>
          </div>
        </div>
       </div> 
      </div>
      <div class="col-lg-7">
      <div class=" mr-4" style="border:;"><%= render 'articles/searchbar'%></div>
      <div class="tab-content border-0" id="ex1-content" style="margin-top:-29px;">
        <div class="tab-pane fade show active" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
            <% @articles.each do |article| %>
                <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
            <% @sport_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-6" role="tabpanel" aria-labelledby="ex1-tab-6">
            <% @politics_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-7" role="tabpanel" aria-labelledby="ex1-tab-7">
            <% @technology_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-8" role="tabpanel" aria-labelledby="ex1-tab-8">
            <% @government_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-9" role="tabpanel" aria-labelledby="ex1-tab-9">
            <% @health_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-10" role="tabpanel" aria-labelledby="ex1-tab-10">
            <% @business_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-11" role="tabpanel" aria-labelledby="ex1-tab-11">
            <% @automobile_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-12" role="tabpanel" aria-labelledby="ex1-tab-12">
            <% @education_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-13" role="tabpanel" aria-labelledby="ex1-tab-13">
            <% @entertainment_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-14" role="tabpanel" aria-labelledby="ex1-tab-14">
           <% @environment_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-15" role="tabpanel" aria-labelledby="ex1-tab-15">
            <% @economy_articles.each do |article| %>
              <div class="card mr-4" style="border:;">
                    <div class="row g-0">
                    <div class="col-md-3">
                    <img src="<%= article.file %>" class="img-fluid rounded-start mt-3 ml-3" alt="..." style="height:200px; width:220px;"> 
                    </div>
                    <div class="col-md-9">
                        <p style="color:green"><small class=" mr-2 mt-1" style="float:right;">Published On <%= article.created_at.strftime("%d  %B, %Y") %></small></p>
                        <div class="card-body">
                        <p class="card- text-muted" style="font-size:20px;"><%= article.title.truncate(250) %></p> 
                        </div>
                    </div>
                        <div class="card-footer text-muted">
                            <i class="fa fa-star mr-1" style="color:#ff9c1a;"></i><a class="" style=""><%= article.average_rating %></a>
                            <a class="" style=""><%= link_to 'READ MORE' , article , style:"font-size:17px;color:#0146BF; float:right;" %></a>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>  
</section>


</body>

      
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"
></script>

<script>
    var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
var ps = new PerfectScrollbar(myCustomScrollbar);

var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');

myCustomScrollbar.onscroll = function () {
  scrollbarY.style.cssText = `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;
}
</script>